{% extends 'base.html' %}

{% block content %}
    <!-- map 표시 start -->
<div class="map_wrap">
    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
    <div id="menu_wrap" class="bg_white">
        <div class="option">
            <div>
                <form onsubmit="searchPlaces(); return false;">
                    키워드 : <input type="text" value='{{ food.food_name }}' id="keyword" size="15"> 
                    <button type="submit">검색하기</button> 
                </form>
            </div>
        </div>
        <hr>
        <ul id="placesList"></ul>
        <div id="pagination"></div>
    </div>
</div>
<div id="selected_info">
    <div id="info">

    </div>
</div>
    <!-- map 표시 end -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        
        var markers = [];
        // 마커 담을 장소

        var locate = {};
        // today: navigator.geolocation.getCurrentPosition(success, error);       

        var mapContainer = document.getElementById('map'), // 지도를 표시할 중심좌표
            mapOtion = {
                center: new kakao.maps.LatLng(37.5, 127.09509), // 지도의 중심좌표
                level: 1, // 지도의 확대 레벨       
            };

        // 지도를 생성합니다.
        var map = new kakao.maps.Map(mapContainer, mapOtion);

        // 장소 검색 객체를 생성합니다.
        var ps = new kakao.maps.services.Places();

        // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다.
        var infowindow = new kakao.maps.InfoWindow({zIndex:1});
        
        currentLocation();
        
        function currentLocation(){
            navigator.geolocation.getCurrentPosition(success, error);
        }    

        function success(pos){
            var crd = pos.coords;
            locate.lat =  crd.latitude;
            locate.lng =  crd.longitude;

            searchPlaces(locate);
        }      

        function error(err){
            console.warn('ERROR(' + err.code + '): ' + err.message);
        }

        // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다.
        // keywordSearch(keyword, callback, options) 콜백 함수
        // 다른 함수의 인자로써 이용되는 함수.
        // 어떤 이벤트에 의해 호출되어지는 함수. 
        function searchPlaces(locate){
            var keyword = document.getElementById('keyword').value;
            if(!keyword.replace(/^\s+|\s+$/g, '')){
                alert('키워드를 입력해주세요!');
                return false;
            }
            // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다.                
            ps.keywordSearch('{{ food.food_name }}', placesSearchCB,
                {
                    location: new kakao.maps.LatLng(locate.lat, locate.lng)
                }); 
        }
        
        // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다.
        function placesSearchCB(data, status, pagination){
            if(status === kakao.maps.services.Status.OK){
                
                // 정상적으로 검색이 완료됐으면
                // 검색 목록과 마커를 표출합니다.
                displayPlaces(data);

                // 페이지 번호를 표출합니다.
                displayPagination(pagination);

            } else if (status === kakao.maps.services.Status.Zero_RESULT){

                alert('검색 결과가 존재합니다.');
                return;
            } else if (status === kakao.maps.services.ERROR){

                alert('검색 결과 중 오류가 발생했습니다.')
                return;

            }
        }

        // 검색 결과 목록과 마커를 표출하는 함수입니다.
        function displayPlaces(places) {

            var listEl = document.getElementById('placesList'), 
            menuEl = document.getElementById('menu_wrap'),
            fragment = document.createDocumentFragment(), 
            bounds = new kakao.maps.LatLngBounds(), 
            listStr = '';
            
            // 검색 결과 목록에 추가된 항목들을 제거합니다
            removeAllChildNods(listEl);

            // 지도에 표시되고 있는 마커를 제거합니다
            removeMarker();
            
            for ( var i=0; i<places.length; i++ ) {

                // 마커를 생성하고 지도에 표시합니다
                var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
                    marker = addMarker(placePosition, i), 
                    itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다


                // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                // LatLngBounds 객체에 좌표를 추가합니다
                bounds.extend(placePosition);

                // 마커와 검색결과 항목에 mouseover 했을때
                // 해당 장소에 인포윈도우에 장소명을 표시합니다
                // mouseout 했을 때는 인포윈도우를 닫습니다
                (function(marker, title) {
                    // --------------------------- 클릭 --------------------------------- 
                    kakao.maps.event.addListener(marker, 'click', function(mouseEvent) {
		            // center값 받아서 줌인
                    addressSearch = title
                    console.log(addressSearch)
                    var url = 'https://dapi.kakao.com/v2/local/search/keyword.json?y=37.514322572335935&x=127.06283102249932&radius=20000'
                    var params = {
                                    'query': addressSearch,
                                }
                    var headers = {'Authorization': 'KakaoAK 1eb82a611b357dbfc3eb3e227b6ec2d3'}

                    axios({
                        method: 'get',
                        url: url,
                        headers: headers,
                        params: params,
                    })
                    .then(res => {
                        console.log(res.data.documents[0])
                        var result = ""
                        var target = document.getElementById('info')
                        result += '<ui><li>'+title+'</li>'
                        result += '<ui><li>'+res.data.documents[0].address_name+'</li>'
                        result += '<li>'+res.data.documents[0].category_name+'</li>'
                        result += '<li>'+res.data.documents[0].phone+'</li>'
                        result += '<li>'+res.data.documents[0].road_address_name+'</li>' 
                        result += '<li>'+res.data.documents[0].category_group_name+'</li></ul>' 
                        target.innerHTML = result

                        });
                    });

                    // ---------------------------  끝 ---------------------------------- 
                    kakao.maps.event.addListener(marker, 'mouseover', function() {
                        displayInfowindow(marker, title);
                    });

                    kakao.maps.event.addListener(marker, 'mouseout', function() {
                        infowindow.close();
                    });

                    itemEl.onmouseover =  function () {
                        displayInfowindow(marker, title);
                    };

                    itemEl.onmouseout =  function () {
                        infowindow.close();
                    };
                })(marker, places[i].place_name);

                fragment.appendChild(itemEl);
            }

            // 검색결과 항목들을 검색결과 목록 Elemnet에 추가합니다
            listEl.appendChild(fragment);
            menuEl.scrollTop = 0;

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            map.setBounds(bounds);
        }

        // 검색결과 항목을 Element로 반환하는 함수입니다
        function getListItem(index, places) {

            var el = document.createElement('li'),
            itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                        '<div class="info">' +
                        '   <h5>' + places.place_name + '</h5>';

            if (places.road_address_name) {
                itemStr += '    <span>' + places.road_address_name + '</span>' +
                            '   <span class="jibun gray">' +  places.address_name  + '</span>';
            } else {
                itemStr += '    <span>' +  places.address_name  + '</span>'; 
            }
                        
            itemStr += '  <span class="tel">' + places.phone  + '</span>' +
                        '</div>';           

            el.innerHTML = itemStr;
            el.className = 'item';

            return el;
        }

        // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
        function addMarker(position, idx, title) {
            var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
                imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
                imgOptions =  {
                    spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
                    spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                    offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
                },
                markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
                    marker = new kakao.maps.Marker({
                    position: position, // 마커의 위치
                    image: markerImage 
                });

            marker.setMap(map); // 지도 위에 마커를 표출합니다
            markers.push(marker);  // 배열에 생성된 마커를 추가합니다

            return marker;
        }

        // 지도 위에 표시되고 있는 마커를 모두 제거합니다
        function removeMarker() {
            for ( var i = 0; i < markers.length; i++ ) {
                markers[i].setMap(null);
            }   
            markers = [];
        }

        // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
        function displayPagination(pagination) {
            var paginationEl = document.getElementById('pagination'),
                fragment = document.createDocumentFragment(),
                i; 

            // 기존에 추가된 페이지번호를 삭제합니다
            while (paginationEl.hasChildNodes()) {
                paginationEl.removeChild (paginationEl.lastChild);
            }

            for (i=1; i<=pagination.last; i++) {
                var el = document.createElement('a');
                el.href = "#";
                el.innerHTML = i;

                if (i===pagination.current) {
                    el.className = 'on';
                } else {
                    el.onclick = (function(i) {
                        return function() {
                            pagination.gotoPage(i);
                        }
                    })(i);
                }

                fragment.appendChild(el);
            }
            paginationEl.appendChild(fragment);
        }

        // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
        // 인포윈도우에 장소명을 표시합니다
        function displayInfowindow(marker, title) {
            var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

            infowindow.setContent(content);
            infowindow.open(map, marker);
        }z

        // 검색결과 목록의 자식 Element를 제거하는 함수입니다
        function removeAllChildNods(el) {   
            while (el.hasChildNodes()) {
                el.removeChild (el.lastChild);
            }
        }

        {% comment %} markers.forEach(funtion(marker){

        }) {% endcomment %}

        

    </script>
{% endblock %}