{% extends 'base.html' %}
{% load static %}
{% block content %}
    

 
 <div class="container3">
 <h1 class="mb-3 font-bold"><img src="{% static 'img/title/purple.png' %}" class="title-icon mr-2 ml-2">1단계: 카테고리 선택</h1>     
    <div class="container d-flex justify-content-center mt-5" style="width:60%">
        <div class="row">
        {% for foodCategory in foodsCategories %}
            <div class="col-4 food-ctg-box mb-3">
                <a href="{% url 'foods:result' foodCategory.food_ctg %}"><img src="{{ foodCategory.food_ctg_image.url }}" class="img-square"></a>
            {% comment %} <button class="btn btn-success">{{ foodCategory.food_ctg }}</button> {% endcomment %}
            </div>
        {% endfor %}
            <div class="col-4 food-ctg-box mb-3">
                <a href="{% url 'foods:hangover'  %}"><img src="{% static 'img/ctg/asian.png' %} " class="img-square"></a>
            </div>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        {% comment %} var feelingButtons = document.querySelectorAll('.attr')
        feelingButtons.forEach(function(feelingButton){
             feelingButton.addEventListener('click', function(event){
                var targetId = event.target.dataset.id;
                console.log(event.target.dataset.id);
                axios.get(`/mains/${targetId}/`)
                .then(function(res){
                    console.log(res.data.foods)
                    var result = document.getElementById('menu');
                    for (var food in res.data.foods) { 
                        result.innetHTML += "<li>"+food+"</li>";
                    }
                })
             });
        }); {% endcomment %}
    </script>
{% endblock %}