{% extends 'base.html' %}

{% block content %}
    <table>
        <tr>
            <td>이름</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>핸드폰번호</td>
            <td>{{ user.user_phone }}</td>
        </tr>
        <tr>
            <td>현재점수</td>
            <td>{{ user.user_score }}점</td>
        </tr>
        <tr>
            <td>생일 </td>
            <td>{{ user.user_birth }}</td>
        </tr>
    </table>
    <a class="d-block" href="{{ user.user_profile_image.url }}">프로필 사진:</a>
    <img class="d-block" src="{{ user.user_profile_image.url }}">
    <a class="btn btn-warning" href="{% url 'accounts:update' user.username %}">개인정보 수정하기</a>
    <a class="btn btn-primary" href="{% url 'foother-index' %}">뒤로가기</a>
{% endblock  %}