{% block content %}
{% endblock  %}
<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div data-aos="zoom-in" data-aos-delay="20">
      <h1><span class="typed" 
      data-typed-items="오늘도 뭐 먹을지 아직 안정했어..?,
No idea about what to eat today..?, 今日の食べたいのが分からない..？, 你不知道今天吃什么吗..？ "></span></h1>
      {% comment %}<div class="social-links"> {% endcomment %}
        {% comment %} <a href="#" class="twitter"><i class="bx bxl-github"></i></a> {% endcomment %}
    </div>
  </section><!-- End Hero -->

  