{% load static %}
<!-- ======= Testimonials Section ======= -->
    <section id="member" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>만든 사람들</h2>
        </div>

        <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="100">

          <div class="testimonial-item">
            <img src="{% static 'img/member/jihye.png' %}" class="member-img" alt="">
            <h3>Jihye Oh 지혜</h3>
            <h4>Designer, Back-End</h4>
            <h4>Almost &amp; Founder... HAHAHAHA</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I'm busy. Do not make me nervous.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="member-img" alt="">
            <h3>Chuck D.K. Kim 동규</h3>
            <h4>Back-End Enginer and KakaoAPI Master</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="member-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Back-End Enginer and a Mashroom🍄</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->
