{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    {% comment %} {% if request.resolver_match.url_name == 'signup' %}
        <h1>회원가입</h1>
    {% else  %}
        <h1>로그인</h1>
    {% endif %} {% endcomment %}
{% if request.resolver_match.url_name == 'signup' %}
    <h1><img src="{% static 'img/title/purple.png' %}" class="title-icon mr-2 ml-2 mt-4">회원가입</h1>
{% else  %}
    <h1><img src="{% static 'img/title/green.png' %}" class="title-icon mr-2 ml-2 mt-4">로그인</h1>
{% endif %}

<div class="container3">
   <form action="" method="POST" enctype="multipart/form-data">
        {% if request.resolver_match.url_name == 'signup' %}
            <div class="user-sign-container">
        {% else  %}
            <div class="user-login-container">
        {% endif %}
                <!-- 하나의 파일에서 두개의 기능 -->
            {% csrf_token %}
            {% bootstrap_form form %}
                <button class="btn btn-success">
                    {% if request.resolver_match.url_name == 'signup' %}
                        회원가입
                    {% else  %}
                        로그인
                    {% endif %}
                </button>
            </div>
    </form>
</div>

{% endblock  %}