{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
 
{% block content %}
<!--fontawsome-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
<div class="container2 mt-5 mb-5 d-flex justify-content-center">
  <div class="row align-items-center">
    <div class="col-4">
      <div class="row">
        <img class="col-10 rounded-circle " src="{{ user_profile.user_profile_image.url }}">
      </div>
    </div>

    <div class="col-6">
        <h1 class="text-left d-inline">{{ user_profile.username }}</h1>
        <a href="{% url 'accounts:update' user.username %}" class="d-inline ml-5">
        {% if request.user == user_profile %}
          <button class="d-inline ml-3 mr-4 profile-button"><i class="fas fa-cog fa-lg mr-2" style="color:#b8b6b6"></i>프로필 편집</button></a>
        {% endif %}
        <div class="d-inline">
          {% if request.user != user_profile %}
            {% if request.user in user_profile.followers.all %}
              <a href="{% url 'accounts:follow' user_profile.username %}" class="btn btn-secondary btn-lg btn-block mt-2">UNFOLLOW</a>
            {% else %}
              <a href="{% url 'accounts:follow' user_profile.username %}" class="btn btn-primary btn-lg btn-block mt-2">FOLLOW</a>
            {% endif %}
          {% endif %}
        </div>

        <div class="d-flex flex-row justify-content-start mt-3">
            <div class="mr-5">
              <a class="d-block">게시물</a>
              <a class="ml-2 font-bold">{{ user_profile.review_set.count }}</a>
            </div>

            <div class="ml-5 mr-5">
              <a class="d-block">팔로워</a>
              <a class="ml-2 font-bold">{{ user_profile.followers.count }}</a>
            </div>

            <div class="ml-5 mr-5">
              <a class="d-block">팔로잉</a>
              <a class="ml-2 font-bold">{{ user.followings.count }}</a>
            </div>
        </div>

        <div class="d-block mt-3">
              <span>{{ user_profile.user_intro }}</span>  
        </div>
        
        <hr class="my-4">
        
        
        <div class="row no-gutters justify-content-around">
          {% comment %} <form action="{% url 'accounts:delete' %}" method="POST" class="col-4">
            {% csrf_token %}
            <button class="btn btn-danger btn-lg btn-block mt-2">회원탈퇴</button>
          </form> {% endcomment %}
        </div>

      
    </div>
  </div>
</div>



  <div class="container mt-5">
    <div class="row-cols-3 portfolio-container">
      {% for review in user_profile.review_set.all %}
        <div class="col-md-4 portfolio-item filter-app">
          <img src="{{ review.food_image.url }}" class="review-image">
          <br>
          {% comment %} <a href="{% url 'maps:review-detail' review.pk %}" class="d-flex justify-content-end" mt-2><i class="far fa-edit"></i></a> {% endcomment %}
            {% comment %} <div class="portfolio-info">
              <h4>{{ review.user.username }}</h4>
              <h5>{{ review.restaurant_name }}<a>({{ review.food_name }})</a></h5>
              <p>{{ review.user }}</p>
              <p>{{ review.restaurant_address}}</p>
            </div> {% endcomment %}
        </div>
      {% endfor %}
    </div>
  </div>
  
   <!-- ======= Skills Section ======= -->
    <section  class="skills section-bg">
    
    {% for review in reviews %}
    <div class="row row-cols-3">
     <div class="card">
        <div class="m-2">
          <h5 class="card-header">
            <img class="rounded-circle" src="{{ review.user.user_profile_image.url }}" width='30px' height='30px'>
            <a>{{ review.user.username }}</a>
          </h5>
          <img src="{{ review.user.username }}" class="card-img-top">
          
            <div class="card-body">
              <p class="card-title">{{ review.user.username }}</p>
              <p class="card-text">{{ review.user.username }}</p>
              <p>{{ post.image.url }}</p><!-- image의 url을 가져온다는 뜻!?!?!-->
            </div>
        </div>
      </div>
    </div>
  {% endfor %}
</section>


{% endblock  %}