{% load static %}

<!-- ======= Header ======= -->
  <header id="header" class="mt-5" >
    <div class="text-center mb-3">
      {% if request.user.is_authenticated %}
          <a> <img src="{{ request.user.user_profile_image.url }}" class="rounded-circle" style="width:30px"></a>
          <a> {{ request.user }}님 반가워요!💓</a>
          {% else %}
            <a href="{% url 'accounts:signup'%}" >회원가입</a>
            <a href="{% url 'accounts:login'%}" >로그인</a>
            {% comment %} <a href="{% url 'accounts:signup'%}" data-toggle="modal" data-target="#signup">회원가입</a>
            <a href="{% url 'accounts:login'%}" data-toggle="modal" data-target="#login">로그인</a>
            {% include 'accounts/form.html' %} {% endcomment %}
      {% endif %}
    </div>

    <nav class="nav-menu d-flex flex-column justify-content-flex-start">
      <ul>
        <li><a href="{% url 'foother-index' %}"><img src="{% static 'img/홈.png' %}" class="main-icon mr-2 ml-2">Home</a></li>
        {% comment %} <i class="bx bx-book-content mr-2 ml-2"></i> {% endcomment %}
        <li><a href="{% url 'foods:main' %}"><img src="{% static 'img/음식추천.png' %}" class="main-icon mr-2 ml-2">음식추천</a></li>
        <li><a href="{% url 'maps:review' %}"><img src="{% static 'img/카메라.png' %}" class="main-icon mr-2 ml-2">업로드</a></li>
      {% if request.user.is_authenticated %}
        <li><a href="{% url 'maps:profile' request.user.username %}"><img src="{% static 'img/location.png' %}" class="main-icon mr-2 ml-2">내프로필</a></li>
      {% endif %}
        {% comment %} <li><a><i class="bx bx-server mr-2 ml-2"></i>전체보기</a></li> {% endcomment %}
        <li><a ><i class="bx bx-envelope mr-2 ml-2"></i>FAQ</a></li>
      {% if request.user.is_authenticated %}
        <li><a href="{% url 'accounts:logout' %}">로그아웃</a></li>
      {% endif %}
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->