{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    {% if request.resolver_match.url_name == 'signup' %}
        <h1>회원가입</h1>
    {% else  %}
        <h1>로그인</h1>
    {% endif %}
    
    <form action="" method="POST" enctype="multipart/form-data">
        <!-- 하나의 파일에서 두개의 기능 -->
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-success">
            {% if request.resolver_match.url_name == 'signup' %}
                회원가입
                {% else  %}
                로그인
            {% endif %}
        </button>
    </form>
{% endblock  %}