{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    {% comment %} {% if request.user.is_authenticated %}
        <a> <img src="{{ request.user.user_profile_image.url }}" class="d-inline rounded-circle" style="width:50px"></a>
        <a> {{ request.user }}님 반갑습니다.</a>
        <a href="{% url 'accounts:signup_update' user.pk %}"> 개인정보 수정하기</a>
        <a href="{% url 'accounts:logout' %}">logout 하기</a>
    {% else %}
        <a href="{% url 'accounts:signup' %}">회원가입</a>
        <a href="{% url 'accounts:login' %}">로그인</a>
    {% endif %} {% endcomment %}
{% endblock  %}